@use "src/styles/utils.scss" as *;

.subHeader {
  position: relative;
  top: calc($navbar-height + $navBar-margin-top);
  height: $subHeader-height;
  background-color: $c-background-light;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: $all-margins;

  &__title {
    text-align: left;
    margin-top:5px;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-end;

    > h2 {
      font-size: 24px;
      font-weight: 700;
    }

    > p {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }
  
  &__subtitle {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  
  &__btn {
    @include button-dark-sm;
    padding: 8px 24px;
    margin-right: 12px;
  }
}
