@use "src/styles/constants" as *;

@mixin tag {
  padding: 4px 22px;
  background: #dfdfdf;
  border-radius: 2px;
  margin-right: 8px;
}

@mixin button-dark {
  padding: 8px 18px;
  color: #fff;
  border-radius: 3px;
  background-color: $c-background-dark;
  border: none;

  &:hover {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  }
}

@mixin button-dark-sm {
  @include button-dark;
  padding: 0px 14px;
  font-size: 12px;
  height: $buttons-searchbars;
}
