@use "src/styles/utils.scss" as *;

body {
  margin: 0;
  content: "";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
<<<<<<< HEAD
  background-color: $c-background-light !important;
=======

  p {
    margin: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0
  }
>>>>>>> e6c769250676edcb0737ec761c6e45fb68ac3735
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
