@use "../../../styles/utils.scss" as *;

.navigateXS {
  background-color: green;
}

.navigate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2b363d;
  max-width: 100%;
  width: 100vw;
  height: 8vh;
  color: #f3f2f2;
  font-family: arial;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1.5vh;

  ul {
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  input {
    outline: none !important;
    border: none;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #f3f2f2;
    border-radius: 4px;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__route {
    position: relative;
    top: 0.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 1.2vw 3vh 1.2vw;

    &-active {
      position: relative;
      top: 0.7vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5vh 1.2vw 3vh 1.2vw;
      text-decoration: none;
      background-color: #f3f2f2;
      border-radius: 4px;
      color: #2b363d !important;
      &:hover {
        text-decoration: none;
      }
    }
    
    &:focus,
    &:hover {
      text-decoration: none;
      background-color: #f3f2f2;
      border-radius: 4px;
      color: #2b363d;
    }
  }

  &__home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 1vw;
    a:hover,
    a:focus {
      text-decoration: none !important;
      color: inherit !important;
    }
  }

  &__title {
    padding-left: 0.8vw;
    padding-bottom: 1.2vh;
    color: inherit;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8vh;
  }

  &__link {
    &--icon {
      vertical-align: middle;
      height: 2.8vh;
      padding-right: 0.4vw;
    }

    &--logo {
      height: 4vh;
    }

    &--text {
      vertical-align: middle;
      font-size: 1.9vh;
    }
  }

  &__right {
    margin-right: 7.2vw;
  }

  /* External ellipse */
  &__logging-ellipse2 {
    position: absolute;
    width: 7.48%;
    height: 9.8%;
    left: 92.2%;
    top: 0.5%;
  }

  /* Internal ellipse */
  &__logging-ellipse1 {
    position: absolute;
    width: 7.9%;
    height: 9.2%;
    left: 92%;
    top: 0.8%;
    color: #f3f2f2;
  }

  /* User */
  &__logging-user {
    position: absolute;
    width: 3%;
    height: 3.5%;
    left: 94.45%;
    top: 3.4%;
    color: #2b363d;
    &:hover {
      transform: scale(120%);
    }
  }
}

